<nav class="main-nav">
    <ul class="menu">
        <li class="active">
            <a asp-controller="home" asp-action="index">Home</a>
        </li>
        <li>
            <a asp-controller="shop" asp-action="index">Shop</a>
        </li>
        <li>
            <a asp-action="about" asp-controller="home">About us</a>
        </li>
        <li>
            <a asp-action="contact" asp-controller="home">Contact</a>
        </li>
        <li>
            <a asp-action="faq" asp-controller="home">FAQs</a>
        </li>
    </ul>
</nav>
